.container{
    background-color:#fffff2;
    height: 15vh;
    border-radius: 5px;
    border: 1px solid #000;

}
.container h3 {
    text-align: center;
    margin: 3px;
    margin-bottom: 8px;
}
.card {
    display: grid;
    grid-auto-flow: column;
    padding: 3px;
    flex-grow: 1; /* Allow each item to grow and take up available space */
  flex-basis: 0; /* This ensures that the flex items have equal initial size */
  padding: 2px;
  margin: 2px;
}
.card2 {
    display: flex;
    justify-content: center;
    gap: 75px;
}
