*
 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  background-color: #fffff2;
  overflow-x: hidden;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* container for component forms */
.container{
  background: #fffff2;
  padding: 25px 30px;
  border-radius: 5px;
  margin-top: 25px;
}

.container .title{
  font-size: 25px;
  font-weight:500;
  position: relative;
}
.container form .topic-details{
  flex-wrap: wrap;
  justify-content:space-between;
  margin: 20px 0 12px 0;
}

form .topic-details .input-wrap{
  margin-bottom: 15px;
  width: calc(100% / 2 -20px);
}
.topic-details .input-wrap details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  
}

.topic-details .input-wrap input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
}

form .button{
  height: 45px;
  margin: 45px 0;
  
}
form .button input{
  height: 100%;
  width: 645px;
  outline: none;
  color: #fffff2;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  background-image: linear-gradient(to bottom right, #cd3d36,black);
}
form .button input:hover{
  background-image: linear-gradient(to top left, #cd3d36,black);
}

.image {
  width: 8vw;
  background-color: transparent;
  position: absolute;
  right: 1vw;
  top: -4vh;
  height: 12vh;
}

.card p {
  color: #cd3d36;
  display:inline-flex;
  padding: 2vh;

}
