.buttoncontainer a button {
  width: 300px;
  height: 80px;
  background-color:#0A0A00; 
  color: #cd3d36;
  border: none;
  margin: 15px;
  border-radius: 15px;
  padding: 4vh;
  text-align: center;
  font-size: larger;
  font-family: 'Exo 2', sans-serif;
}
.buttoncontainer a button:hover {
  border: none;
  padding: 2vh;
  border-radius: 15px;
  padding: 4vh;
  font-size: larger;
  color:#fffff2;
  cursor: pointer;
}
.prlog {
  display: flex;
  justify-content: center;
  align-items: center;
}
.crown{
  margin-top: -50px;
  height: 75px;
  margin-bottom: -20px;
}
.leftarm{
  height: 100px;
}
.rightarm{
  height: 100px;

}
.feedcontainer {
  display: flex;
  flex-direction: column;
  margin: 75px;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.welcomecontainer {
  margin-top: 150px;
  width: 40vw;
  padding: 20px;
  background-color: #fffff2;
  border: 1px solid #020202;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.welcomecontainer p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.welcomecontainer h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #cd3d36; 
}
.userpagebtn {
    color: white;
    background-image: linear-gradient(to bottom right, #cd3d36,black);
    width: 25vw;
    height: 5vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 50px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 18px;
    text-decoration: none;
}
  .userpagebtn:hover{
    background-image: linear-gradient(to top left, #cd3d36,black);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media(max-width: 1312px) {
  .welcomecontainer {
    margin-top: 50px;
  }
  .buttoncontainer{
    display: grid;
    align-items: center;
    justify-items: center;
  }
  .buttoncontainer a button{
    font-size: larger;
    width: 30vw;
    height: 12vh;

  }
}
@media(max-width: 688px) {
  .welcomecontainer {
    width: 75vw;
    margin-top: 50px;
  }
  .userpagebtn {
    width: 50vw;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .buttoncontainer{
    display: grid;
    align-items: center;
    justify-items: center;
  }
  .buttoncontainer a button{
    font-size: larger;
    width: 50vw;
    height: 12vh;
  }
  .leftarm, .rightarm {
        height: 9vh;
  }
  .crown {
    height: 6vh;
  }
  .prlog {
    width: 50vw;
  }
}
