.bar {
    color: #fa544c;
    display: flex;
    background-color: #0A0A00; 
    height: 6vh;
    align-items: center;
    margin-bottom: 6vh;
  }
  .homebutton {
    padding: 5px;
    margin-left: 300px;
    font-size: 2em;
    color: #cd3d36;
    text-decoration: none;
  }
  .homebutton p {
    font-size: .6em;
  }
  .homebutton h3:hover {
    color: #fefefe;
  }
  .homebutton p:hover {
    color: #fefefe;
  }