.bar {
    color: #fa544c;
    display: flex;
    background-color: #0A0A00; 
    height: 8vh;
    align-items: center;
    align-content: center;
    margin-bottom: 6vh;
    justify-content: center;
  }
  .title{
    padding: 50px;
  }
  .homebutton {
    padding: 25px;
    font-size: 2em;
    color: #cd3d36;
    text-decoration: none;
  }
  .homebutton p {
    font-size: .6em;
  }
  .homebutton h3:hover {
    color: #fffff2;
  }
  .homebutton p:hover {
    color: #fffff2;
  }
  .icon {
    height: 30px;
    background-color: #cd3d36;
    border-radius: 15px;
  }